ACTION=="change", KERNEL=="card0", SUBSYSTEM=="drm",\
  ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/octaltree/.Xauthority",
  RUN+="/home/octaltree/bin/handyScript/hdmi_udev"
